################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HW4/BackSubstitution/BackSubstitution.VC.VC.opendb
*.db
*.suo
/HW6/HW6.VC.VC.opendb
/HW7/HW7.VC.VC.opendb
