################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HW4/BackSubstitution/BackSubstitution.VC.VC.opendb
*.db
*.suo
